body{
 margin: 0;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 background-color: grey;
}
h3,h4,p,ul{
 margin: 0;
}
html{
 box-sizing: border-box;
 font-size: 16px;
}
*,*:before, *:after{
 box-sizing: inherit;
}
.container{
 margin-top: 15vh;
 margin-bottom: 15vh;
 margin-left: 25%;
 height: auto;
 width: 50vw;
 border-radius: 5px;
 overflow: hidden;
}
.sub-container-1{
 background-color: white;
 padding: 5px;
 padding-left: 40px;
 padding-right: 40px;
 width: 100%;
 height: 40%;
}
.sub-container-1 h3{
 color: #2ab2af;
 margin-top: 10px;
 margin-bottom: 15px;
}
.sub-container-1 h4{
 color: #c0df34;
 margin-bottom: 10px;
}
.sub-container-1 p{
 color: #98a6bd;
 margin-bottom: 20px;
}
.list{
 list-style: none;
 padding-left: 0;
 padding-top: 0;
 color: rgba(255, 255, 255, 0.7);
}
.container-2{
 display: flex;
 flex-direction: row;
 color: white;
 width: 100%;
 height: 60%;
}
.sub-container2{
 width: 50%;
 padding: 5px;
 padding-left: 30px;
 padding-right: 30px;
 background-color: rgb(59, 165, 165);
}
.sub-container2 h4{
 margin-top: 20px;
 margin-bottom: 10px;
}
.sub-container2 p{
 margin-bottom: 20px;
}
.sub-container3{
 width: 50%;
 padding: 30px;
 padding-bottom: 0px;
 padding-top: 5px;
 background-color: rgb(71, 194, 194);
 line-height: 25px;
}
.sub-container3 h4{
 margin-top: 10px;
 margin-bottom: 10px;
}
.sub-container3 ul{
 font-size: 0.9rem;
 margin-bottom: 20px;
}
.inline{
 display: flex;
}
.inline p {
 padding-top: 23px;
 padding-left: 20px;
 color: rgba(255, 255, 255, 0.5);
}
button{
 color: white;
 background-color: rgb(133, 191, 47);
 width: 100%;
 height: 50px;
 border: none;
 border-radius: 5px;
 box-shadow: 1px 1px 1px 1px green;
 margin-bottom: 10px;
}
button:hover {
 cursor: pointer;
 color: black;
 opacity: 0.8;
 transform: scale(1.02);
}

@media (max-width: 650px){
 .sub-container2,.sub-container3{
  width: 100%;
 }
 .container{
  height: auto;
  width: 90%;
  margin-left: 5%;
 }
 .container-2{
  flex-direction: column;
 }
 button{
  margin-bottom: 20px;
 }
}
